.user-form-container-donor {
    width: 90%;
    margin: 40px auto;
    padding: 20px 20px 10px;
    background-color: #9ed5e9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: auto;
    display: flex;
    flex-direction: column;
}

.donorHeading {
    text-align: center;
}