/* Footer Section */
.footer-style {
    background-color: rgb(19, 20, 109);
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    
  }
  
  /* Social Icons */
  .social-icon-style {
    padding-top: 25px;
    margin-right: 40px;
    font-size: 24px;
    color: white;
  }

  .footer-style .white-text {
    color: white;
  }

  