/* Container Styles */
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}

/* Form Styles */
.custom-form {
    background-color: rgb(19, 20, 109);
    color: #fff;
    padding: 40px;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.custom-form:hover {
    transform: scale(1.05);
    z-index: 1; 
}

/* Form Control Styles */
.custom-form-control {
    height: auto;
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: none;
    width: 100%;
}

/* Button Styles */
.custom-button {
    width: 100%;
}

.custom-button:hover {
    background-color: #800080;
}

/* Heading Styles */
.signup-heading, .login-heading {
    margin-bottom: 20px;
    text-align: center;
    z-index: 2; 
    position: relative;
}

/* Link Styles for Signup/Login */
.login-signup-link {
    margin-top: 20px;
    text-align: center;
}

.login-signup-link a {
    color: #007bff;
    text-decoration: none;
}

.login-signup-link a:hover {
    text-decoration: underline;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .custom-form {
        padding: 20px;
        transform: none !important;
    }

    .custom-form-control, .custom-button {
        font-size: 1rem;
    }
}
